body {
    font-family: "Montserrat", "Open San", "Roboto";
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("../assets/Sunset\ Pano.jpg");
    background-size: cover, auto, auto;
    background-position: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#nav-bar {
    background-color: #00250080;
    color: #EBF5EE;
}


#nav-logo {
    padding-left: 15px;
}

#nav-logo:hover {
    color: #7c3238;
}

#nav-icon {
    padding-left: 15px;
}

#nav-item:hover {
    color: #7c3238;
}

#main-section {
    background-color: #00250080;
    margin-top: 65px;
    margin-bottom: 65px;
    flex: 1 0 auto;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

#contact-form {
    background-color: #00250080;
    margin-top: 65px;
    margin-bottom: 65px;
    flex: 1 0 auto;
    text-align: center;
    padding: 50px;
    color: #EBF5EE;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

#card-container {
    margin-top: 65px;
    margin-bottom: 65px;
    flex: 1 0 auto;
    text-align: center;
}

#contact-submit {
    color: #EBF5EE;
    background-color: #7c3238;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

#contact-submit:hover {
    color: #7c3238;
    background-color: #EBF5EE;
}

#headshot {
    margin: 40px 40px;
    box-shadow: 0 0 15px rgba(0,0,0,.5);
}

#job-title {
    color: #EBF5EE;
}

#bio {
    padding: 0px 10px;
    color: #EBF5EE;
}

#page-footer {
    background-color: #00250080;
    bottom: 0;
}

#github {
    color: #EBF5EE;
}

#github:hover {
    color: #7c3238;
}

#linkedin {
    color: #EBF5EE;
}

#linkedin:hover {
    color: #7c3238;
}

#email {
    color:#EBF5EE
}

#email:hover {
    color: #7c3238
}

#resume {
    color: #EBF5EE;
}

#resume:hover {
    color: #7c3238;
}

#copyright {
    padding-bottom: 10px;
}

.card {
    background-color: #00250080;
    color: #EBF5EE;
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
}

/* .card-title {
    text-align: center;
} */

#cardlink {
    color: #EBF5EE;
}

#cardlink:hover {
    color: #7c3238;
}

#side-nav {
    float: right;
}